html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    title Clutch
    link(rel='stylesheet', type='text/css', href='/css/site.css')
    link(rel='stylesheet', type='text/css', href='/components/jqm-flatui/generated/jquery.mobile.flatui.min.css')
    script(src='https://d10ajoocuyu32n.cloudfront.net/jquery-1.9.1.min.js')
    script(src='javascripts/preloadCssImages.jQuery_v5.js')
    script(src='preload.js')
    script(src='swipe.js')
    script(src='http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js')
  body
    each animal in animals
      div(id='#{animal.id}' data-role='page', data-theme='c')
        div(data-theme='g', data-role='header')
          h3
            | #{animal.group.capitalize()}
        div(data-role='content')
          .center-wrapper
            figure
              .wrap
                .image(style='background: url(/img/mammals/#{animal.img}) center no-repeat; background-size: cover;')
              figcaption
                | A group of #{animal.name} is called a #{animal.group}.
